<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

/* --------------- Enter your local enviroment settings here -----------------*/
$config = array(
    'db_username'             => 'username',
    'db_password'             => 'password',
    'proxy_host'              => null,
    'proxy_port'              => null,
    'github_account_name'     => '',
    'github_full_name'        => '',
    'twitter_consumer_key'    => '',
    'twitter_consumer_secret' => '',
    'twitter_access_token'    => '',
    'twitter_access_secret'   => '',
);

/* -------------- DO NOT MAKE CHANGES BELOW THIS LINE ------------------------*/

return array(
    
    // Github config
    'http_client_config' => array(
        'adapter'    => 'Zend\Http\Client\Adapter\Curl',
        'proxy_host' => $config['proxy_host'],
        'proxy_port' => $config['proxy_port'],
        'curloptions' => array(
           CURLOPT_SSL_VERIFYPEER => false,
           CURLOPT_SSL_VERIFYHOST => false,
        ),
    ),
    'github_account_name' => $config['github_account_name'],
    'github_full_name' => $config['github_full_name'],
    
    // Twitter config
    'twitter' => array(
        'access_token' => array(
            'token'  => $config['twitter_access_token'],
            'secret' => $config['twitter_access_secret'],
        ),
        'oauth_options' => array(
            'consumerKey' => $config['twitter_consumer_key'],
            'consumerSecret' => $config['twitter_consumer_secret'],
        ),
        'http_client_options' => array(
            'adapter' => 'Zend\Http\Client\Adapter\Curl',
            'proxy_host' => $config['proxy_host'],
            'proxy_port' => $config['proxy_port'],
            'curloptions' => array(
                CURLOPT_SSL_VERIFYHOST => false,
                CURLOPT_SSL_VERIFYPEER => false,
            ),
        ),
    ),
    
    'civuser' => array(
        
        // Example of persistance config.
        'persistance' => array(
            'type' => 'dbtable',
            'table' => 'user'
        ),
        
        // Example of tbtable auth adapter
        'adapter' => array(
            'type'             => 'dbtable',
            'table'            => 'user',
            'identifier_field' => $config['db_username'],
            'credential_field' => $config['db_password'],
        ),
        
        
        // Options
        'profile_link' => array(
            'class' => ""
        ),
    ),
    
);